
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box; /*if we add border or padding, it doesn't affect the width of it. */
}

:root {
    --body-color: #d9eff7;
}

body {
    background-color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0px;
}

h1 {
    font-size: 1.5rem;
    color: #9bbbfc;
}

h1 span {
    color: #f9ce69;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 3px solid #013237;
    background-color: #f2f2f2;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150/?cat');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold {
    border: 5px solid #ccc;
}

.hovered {
    background-color: #4741a6;
    border-color: white;
    border-style: dashed;
}

@media(max-width: 800px) {
    main {
        flex-direction: column;
    }
}
